body {
  background-color: #222;
  margin: 0;
  font-family: 'Akaya Telivigala', cursive;
}

.restbody {
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top-style: solid;
  border-color: #b5bad8;
  border-width: 2px;
  width: 100%;
}

h1 {
  color: #C0C0C0;
}

h3 {
  font-family: 'Akaya Telivigala', cursive;
  font-size: xx-large;
  padding-left: 20px;
  color: #C0C0C0;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #C0C0C0;
}

li {
  font-family: 'Montserrat', sans-serif;
  color: #C0C0C0;
}


.gif {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.cloudimg1 {
  padding-top: 10px;
}

a {
  padding: 20px;
}

ul {
  color: #C0C0C0;
}

ol {
  color: #C0C0C0;
}

td {
  color: #C0C0C0;
}

a {
  color: #C0C0C0;
}

button {
  width: 200px;
  background-color: #222;
  margin-left: 20px;
  color: white;
  border-style: solid;
}
