body {
  background-color: #dffbff;
}

hr {
  border-style: none;
  border-top-style: solid;
  border-color: #b5bad8;
  border-width: 2px;
  width: 100%;
}

h1 {
  color: rgb(0, 0, 0);
}

